@import url('https://fonts.cdnfonts.com/css/samsung-sharp-sans');


*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family:'Samsung Sharp Sans', sans-serif;
}

body{
    background-color: rgb(31, 21, 57);

}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(7, 7, 7);
    padding: 15px 20px;
    position:fixed;
    width: 100%;
}
.logo img{
    height: 75px;
    width: 100px;
    margin: 10px;
    border-radius: 10px 10px 10px 10px ;
    border: none; 
}
.logo img:hover{
    cursor: pointer;
}
.nav-links{
    padding: 15px;
}
.nav-icons img{
    width: 30px;
    height: 30px;
    filter: invert(100%);
}
.nav-icons a{
    margin-left: 15px;
}
.search-box{
    display: flex;
    flex:1;
    margin: 0px 20px;

}
.search-box input{
    display: flex;
    flex-grow: 1;
    border: solid wheat;
}
.search-box button{
    padding: 10px 10px;
    background-color: orange;
    color: rgb(243, 9, 114);
    cursor: pointer;
    border: none;
}
.search-box button img{
    width:20px;
    height:20px;
}
.nav-links a{
    text-decoration: none;
    color:white;
    margin: 10px;
    font-size: 17px; 
}
.nav-links a:hover{
    text-decoration: underline;
    background-color: rgb(195, 157, 157);
}
.search-box button:hover{
    background-color: rgb(153, 143, 147);
    color:rgb(15, 0, 128);
}
.search-box input:hover{
    background-color: rgb(231, 232, 225);
    color: rgb(0, 0, 0);
}
.hero-section img{
    width: 100%;
    height: 70%;
}
.hero-section{
    padding-top: 125px;
}
h1{
    color: white;
    margin-top: 10px;
    margin-bottom:50px ;
}
.products{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:flex-start;
    gap:10px;
    padding:0px;
    cursor: pointer;
    margin-left: 100px;
    margin-right:10px;
    margin-bottom: 50px;
    margin-top: 10px;
    border: 0px solid gray
}
.product-card img{
    width:100%;
    height:200px;
    transition: transform 0.5;
}
.product-info{
    color: aliceblue;
    background-color: black;
    padding: 15px;
    flex-grow: 1;

}
.product-card{
    flex: 1 1 300px ;
    max-width: 300px;
    box-shadow:4px;
    transition: transform 0.3s;
    background-color:orangered;
    border: solid rgb(216, 216, 206);
}
.product-card:hover{
    transform:translateY(10px);
}
.product-info h4{
    margin-top: 3px;
}
.product-info p{
margin-top: 10px;
}

.product-info button{
    margin-top: 10px;
    flex-grow: 1;
    text-align: center;
}

.foot{
    border:1px solid rgb(31, 21, 57);
    margin-bottom: 10px;
    border-color: rgb(43, 43, 119);
}
.foot h3{
    background-color: rgb(74, 49, 136);
    color: aliceblue;
}
.footer{
    display: flex;
    justify-content: space-evenly;
}
.bot ul{
    list-style: none;
    margin:0;
    padding: 0;
}
.foot h3:hover{
    color: aqua;
}